@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-debug-1: red;
  --color-debug-2: yellow;
  --color-debug-3: green;

  --color-primary: var(--color-violet-600);
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
  }
}