@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-debug-1: red;
  --color-debug-2: yellow;
  --color-debug-3: green;

  --color-theme: var(--color-white);
  --color-theme-dark: var(--color-black);

  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);

  --color-secondary-50: var(--color-teal-50);
  --color-secondary-100: var(--color-teal-100);
}